{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
							{% for c in category %}
                            <li data-filter=".{{ c.name }}">{{ c.name }}</li>
							{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				{% for p in products %}
				<div class="col-lg-4 col-md-6 text-center {{p.category.name}}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{{ p.get_absolute_url }}"><img src="{{ p.picture.url }}" alt=""></a>
						</div>
						<h3>{{ p.title }}</h3>
						<p class="product-price"><span>Per Kg</span> {{ p.price }}$ </p>
						{% if request.user.is_authenticated %}
						<button class="cart-btn btn bg-warning text-white" type="button" value="{{ p.id }}" id="add-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
	<!-- end products -->


	<script>
		$(document).on('click', '#add-cart', function(e){
			e.preventDefault()
			$.ajax({
				type: 'POST',
				url: '{% url "cart:cart_add" %}',
				data: {
					product_id: $('#add-cart').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post'
				},
				success: function(json) {
					document.getElementById('cart_quantity').textContent = json.qty
					Toastify({
					text: "Product add to your Cart",
					duration: 3000,
					destination: "https://github.com/apvarun/toastify-js",
					newWindow: true,
					close: true,
					gravity: "top", // `top` or `bottom`
					position: "left", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "linear-gradient(to right, green, yellow)",
						color:'white'
					},
					onClick: function(){} // Callback after click
					}).showToast();
				},
				error: function(xhr, errmsg, err){
				}
			})
		}) 
	</script>

{% endblock %}