{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="{{ product.picture.url }}" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>{{ product.title }}</h3>
						<p class="single-product-pricing"><span>Per Kg</span> ${{ product.price }}</p>
						<p>{{ product.description }}</p>
						<div class="single-product-form">
							<!-- <form action="" method="post"> -->
								{% csrf_token %}
								<!-- <button class="cart-btn btn bg-warning text-white" type="button" value="{{ product.id }}" id="add-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button> -->
								<input type="hidden" value="{{ product.id }}" class="product_id_hid">	
								<button class="cart-btn btn bg-warning text-white" id="add-to-cart" type="button"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
							<!-- </form> -->
							<p><strong>Categories: </strong>{{ product.category }}</p>
						</div>
						<h4>Share:</h4>
						<ul class="product-share">
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more products -->
	{% if realted_product %}
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Related</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>
			<div class="row">
				{% for r in realted_product %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{{ r.get_absolute_url }}"><img src="{{ r.picture.url }}" alt=""></a>
						</div>
						<h3>{{ r.title }}</h3>
						<p class="product-price"><span>Per Kg</span> {{ r.price }}$ </p>
						<button class="cart-btn btn bg-warning text-white" type="button" value="{{ product.id }}" id="add-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<!-- end more products -->

	<!-- session -->
	<!-- <script>
		$(document).on('click', '#add-cart', function(e){
			e.preventDefault()
			$.ajax({
				type: 'POST',
				url: '{% url "cart:cart_add" %}',
				data: {
					product_id: $('#add-cart').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post'
				},
				success: function(json) {
					document.getElementById('cart_quantity').textContent = json.qty
					Toastify({
					text: "{{ product.title }} add to your Cart",
					duration: 3000,
					destination: "https://github.com/apvarun/toastify-js",
					newWindow: true,
					close: true,
					gravity: "top", // `top` or `bottom`
					position: "left", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "linear-gradient(to right, green, yellow)",
						color:'white'
					},
					onClick: function(){} // Callback after click
					}).showToast();
				},
				error: function(xhr, errmsg, err){
				}
			})
		}) 
	</script> -->




	<script>
		$(document).on('click', '#add-to-cart', function(e){
			e.preventDefault()
			$.ajax({
				type: 'POST',
				url: '{% url "cart:add-to-cart" %}',
				data: {
					product_id: $('.product_id_hid').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post'
				},
				success: function(json) {
					if (json.status === 'Product is Already in Cart'){
						Toastify({
						text: json.status,
						duration: 3000,
						destination: "https://github.com/apvarun/toastify-js",
						newWindow: true,
						close: true,
						gravity: "top", // `top` or `bottom`
						position: "left", // `left`, `center` or `right`
						stopOnFocus: true, // Prevents dismissing of toast on hover
						style: {
							background: "linear-gradient(to right, red, yellow)",
							color:'white'
						},
						onClick: function(){} // Callback after click
						}).showToast();
					}else if( json.status === 'Product added successfuly'){
						document.getElementById('cart_quantity').textContent = json.qty
						Toastify({
						text: json.status,
						duration: 3000,
						destination: "https://github.com/apvarun/toastify-js",
						newWindow: true,
						close: true,
						gravity: "top", // `top` or `bottom`
						position: "left", // `left`, `center` or `right`
						stopOnFocus: true, // Prevents dismissing of toast on hover
						style: {
							background: "linear-gradient(to right, green, yellow)",
							color:'white'
						},
						onClick: function(){} // Callback after click
						}).showToast();
					}
					
				},
				error: function(jqxhr, textStatus, errorThrown) {}
				
			})
		}) 

	</script> 


{% endblock %}