
{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<!-- <th class="product-total">Total</th> -->
								</tr>
							</thead>
							<tbody>
								{% for cp in cart_items %}
								<tr class="table-body-row">
									{% csrf_token %}
									<input type="hidden" id="prod_id" value="{{ cp.product.id }}">
									<td class="product-remove"><button class="btn" id="remove-product"><i class="btn far fa-window-close"></i></button></td>
									<td class="product-image"><img src="{{ cp.product.picture.url }}" alt=""></td>
									<td class="product-name">{{ cp.product.title }}</td>
									<td class="product-price">${{ cp.product.price }}</td>
									<!-- <td class="product-quantity"><input type="number" placeholder="0"></td> -->
									<!-- <td class="product-total"><input type="number" min="1" id="quantity" class="form-control" value="{{ cp.quantity }}"></td> -->
									<td class="product-total">{{ cp.quantity }}</td>
								</tr>
								{% endfor %}
							</tbody>

						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>${{ total_price }}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="cart.html" class="boxed-btn">Update Cart</a>
							<a href="checkout.html" class="boxed-btn black">Check Out</a>
						</div>
					</div>

					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form >
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->


	<script>
		
		$(document).on('click', '#remove-product', function(e) {
			e.preventDefault()
			let product_id = $('#prod_id').val();
			$.ajax({
				type: 'POST',
				url: '{% url "cart:remove_product" %}',
				data: {
					product_id: product_id,
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post'
				},
				success: function(json){
					console.log(json)
					document.getElementById('cart_quantity').textContent = json.qty
					Toastify({
						text: json.status,
						duration: 3000,
						destination: "https://github.com/apvarun/toastify-js",
						newWindow: true,
						close: true,
						gravity: "top", // `top` or `bottom`
						position: "left", // `left`, `center` or `right`
						stopOnFocus: true, // Prevents dismissing of toast on hover
						style: {
							background: "linear-gradient(to right, green, yellow)",
							color:'white'
						},
						onClick: function(){} // Callback after click
					}).showToast();
					
				}
			})
		})

	</script>


{% endblock %}